{
  "name": "landing-Financier",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "css/style.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/style.min.css\",\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/normalize.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"css/normalize.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "img/map-image.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":110261,\"newSize\":110261}}"
    },
    {
      "path": "img/sec-1-bg.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":403672,\"newSize\":413426}}"
    },
    {
      "path": "favicon.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":5161,\"newSize\":2555}}"
    },
    {
      "path": "js/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/landing-financier/public_html",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".gitattributes",
        "ctime": "2017-10-14T20:33:23.053Z",
        "mtime": "2017-10-14T20:33:23.053Z",
        "size": 65
      },
      {
        "file": ".gitignore",
        "ctime": "2017-10-15T21:35:22.027Z",
        "mtime": "2017-10-15T21:35:22.027Z",
        "size": 22
      },
      {
        "file": "css/normalize.css",
        "ctime": "2017-09-07T16:06:58.697Z",
        "mtime": "2017-09-07T16:06:58.697Z",
        "size": 2690
      },
      {
        "file": "css/normalize.min.css",
        "ctime": "2017-10-15T14:57:41.492Z",
        "mtime": "2017-10-15T14:57:41.492Z",
        "size": 1992
      },
      {
        "file": "css/style.css",
        "ctime": "2017-10-16T09:18:25.666Z",
        "mtime": "2017-10-16T09:18:25.666Z",
        "size": 5603
      },
      {
        "file": "css/style.min.css",
        "ctime": "2017-10-16T09:18:26.996Z",
        "mtime": "2017-10-16T09:18:26.996Z",
        "size": 5116
      },
      {
        "file": "css/style.min.css.map",
        "ctime": "2017-10-16T09:18:26.994Z",
        "mtime": "2017-10-16T09:18:26.994Z",
        "size": 9662
      },
      {
        "file": "css/fonts/LICENSE.txt",
        "ctime": "2017-10-13T18:34:02.833Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 11560
      },
      {
        "file": "css/fonts/RobotoCondensed-Bold.ttf",
        "ctime": "2017-10-13T18:34:02.839Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 169800
      },
      {
        "file": "css/fonts/RobotoCondensed-BoldItalic.ttf",
        "ctime": "2017-10-13T18:34:02.846Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 175888
      },
      {
        "file": "css/fonts/RobotoCondensed-Italic.ttf",
        "ctime": "2017-10-13T18:34:02.852Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 175188
      },
      {
        "file": "css/fonts/RobotoCondensed-Light.ttf",
        "ctime": "2017-10-13T18:34:02.858Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 168004
      },
      {
        "file": "css/fonts/RobotoCondensed-LightItalic.ttf",
        "ctime": "2017-10-13T18:34:02.863Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 175380
      },
      {
        "file": "css/fonts/RobotoCondensed-Regular.ttf",
        "ctime": "2017-10-13T18:34:02.868Z",
        "mtime": "2012-06-25T21:00:00.000Z",
        "size": 170284
      },
      {
        "file": "favicon.png",
        "ctime": "2017-10-15T15:08:08.409Z",
        "mtime": "2017-10-15T15:08:08.409Z",
        "size": 2555
      },
      {
        "file": "img/bars.svg",
        "ctime": "2017-10-13T19:32:51.799Z",
        "mtime": "2017-10-13T19:32:51.799Z",
        "size": 3688
      },
      {
        "file": "img/icn-sync.svg",
        "ctime": "2017-10-13T19:22:36.543Z",
        "mtime": "2017-10-13T19:22:27.453Z",
        "size": 1481
      },
      {
        "file": "img/icon-smart.svg",
        "ctime": "2017-10-13T19:07:38.551Z",
        "mtime": "2017-10-13T19:07:14.769Z",
        "size": 2474
      },
      {
        "file": "img/locked.svg",
        "ctime": "2017-10-13T19:26:45.746Z",
        "mtime": "2017-10-13T19:26:45.746Z",
        "size": 981
      },
      {
        "file": "img/map-image.png",
        "ctime": "2017-10-13T19:40:55.906Z",
        "mtime": "2017-10-13T19:40:55.906Z",
        "size": 110261
      },
      {
        "file": "img/notification.svg",
        "ctime": "2017-10-13T19:38:06.280Z",
        "mtime": "2017-10-13T19:38:06.280Z",
        "size": 4425
      },
      {
        "file": "img/puzzle.svg",
        "ctime": "2017-10-13T19:30:24.561Z",
        "mtime": "2017-10-13T19:30:24.561Z",
        "size": 3663
      },
      {
        "file": "img/sec-1-bg.jpg",
        "ctime": "2017-10-15T14:57:53.062Z",
        "mtime": "2017-10-15T14:57:53.062Z",
        "size": 413426
      },
      {
        "file": "img/send.svg",
        "ctime": "2017-10-13T20:10:13.296Z",
        "mtime": "2017-10-13T20:10:13.296Z",
        "size": 1603
      },
      {
        "file": "index.html",
        "ctime": "2017-10-16T10:06:22.509Z",
        "mtime": "2017-10-16T10:06:22.509Z",
        "size": 10692
      },
      {
        "file": "js/jquery-2.2.4.min.js",
        "ctime": "2017-10-13T10:49:02.656Z",
        "mtime": "2017-10-01T15:51:57.829Z",
        "size": 85578
      },
      {
        "file": "js/script.js",
        "ctime": "2017-10-16T09:45:22.356Z",
        "mtime": "2017-10-16T09:45:22.356Z",
        "size": 1499
      },
      {
        "file": "js/script.min.js",
        "ctime": "2017-10-16T09:45:22.717Z",
        "mtime": "2017-10-16T09:45:22.717Z",
        "size": 979
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-grid.css",
        "ctime": "2017-10-13T11:08:54.391Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 29140
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-grid.css.map",
        "ctime": "2017-10-13T11:08:54.392Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 73751
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-grid.min.css",
        "ctime": "2017-10-13T11:08:54.393Z",
        "mtime": "2017-08-10T17:52:12.000Z",
        "size": 21780
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-grid.min.css.map",
        "ctime": "2017-10-13T11:08:54.394Z",
        "mtime": "2017-08-10T17:52:12.000Z",
        "size": 52677
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-reboot.css",
        "ctime": "2017-10-13T11:08:54.394Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 4486
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-reboot.css.map",
        "ctime": "2017-10-13T11:08:54.395Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 51030
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-reboot.min.css",
        "ctime": "2017-10-13T11:08:54.396Z",
        "mtime": "2017-08-10T17:52:14.000Z",
        "size": 3604
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap-reboot.min.css.map",
        "ctime": "2017-10-13T11:08:54.397Z",
        "mtime": "2017-08-10T17:52:14.000Z",
        "size": 24646
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap.css",
        "ctime": "2017-10-13T11:08:54.398Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 156884
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap.css.map",
        "ctime": "2017-10-13T11:08:54.400Z",
        "mtime": "2017-08-10T17:52:10.000Z",
        "size": 379132
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap.min.css",
        "ctime": "2017-10-13T11:08:54.402Z",
        "mtime": "2017-08-10T17:52:12.000Z",
        "size": 124962
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/css/bootstrap.min.css.map",
        "ctime": "2017-10-13T11:08:54.405Z",
        "mtime": "2017-08-10T17:52:12.000Z",
        "size": 502438
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/js/bootstrap.js",
        "ctime": "2017-10-13T11:08:54.407Z",
        "mtime": "2017-08-10T17:51:22.000Z",
        "size": 111390
      },
      {
        "file": "plugin/bootstrap-4.0.0-beta/js/bootstrap.min.js",
        "ctime": "2017-10-13T11:08:54.408Z",
        "mtime": "2017-08-10T17:51:22.000Z",
        "size": 51143
      },
      {
        "file": "plugin/Swiper-master/dist/css/swiper.css",
        "ctime": "2017-10-13T12:10:33.654Z",
        "mtime": "2017-10-13T12:10:33.654Z",
        "size": 21367
      },
      {
        "file": "plugin/Swiper-master/dist/css/swiper.min.css",
        "ctime": "2017-10-13T12:10:33.658Z",
        "mtime": "2017-10-13T12:10:33.658Z",
        "size": 18993
      },
      {
        "file": "plugin/Swiper-master/dist/js/swiper.esm.bundle.js",
        "ctime": "2017-10-13T12:10:33.664Z",
        "mtime": "2017-10-13T12:10:33.664Z",
        "size": 193427
      },
      {
        "file": "plugin/Swiper-master/dist/js/swiper.esm.js",
        "ctime": "2017-10-13T12:10:33.668Z",
        "mtime": "2017-10-13T12:10:33.668Z",
        "size": 193553
      },
      {
        "file": "plugin/Swiper-master/dist/js/swiper.js",
        "ctime": "2017-10-13T12:10:33.673Z",
        "mtime": "2017-10-13T12:10:33.673Z",
        "size": 226567
      },
      {
        "file": "plugin/Swiper-master/dist/js/swiper.min.js",
        "ctime": "2017-10-13T12:10:33.679Z",
        "mtime": "2017-10-13T12:10:33.679Z",
        "size": 109958
      },
      {
        "file": "plugin/Swiper-master/dist/js/swiper.min.js.map",
        "ctime": "2017-10-13T12:10:33.687Z",
        "mtime": "2017-10-13T12:10:33.687Z",
        "size": 375661
      },
      {
        "file": "php/modal.php",
        "ctime": "2017-10-16T09:59:24.738Z",
        "mtime": "2017-10-16T09:59:24.687Z",
        "size": 511
      },
      {
        "file": "php/contactsForm.php",
        "ctime": "2017-10-16T10:04:57.960Z",
        "mtime": "2017-10-16T10:04:57.909Z",
        "size": 678
      },
      {
        "file": "php/setting.php",
        "ctime": "2017-10-16T09:34:23.609Z",
        "mtime": "2017-10-16T09:34:23.609Z",
        "size": 132
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": ">1%, last 2 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}